speculatewsclient/src/wsdl/localhost_8080/SpeculateWS_Service/SpeculateWS_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://speculateWebService.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://speculateWebService.mycompany.com/" name="SpeculateWS_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://speculateWebService.mycompany.com/" schemaLocation="http://localhost:8080/SpeculateWS_Service/SpeculateWS_Service?xsd=1"/>
</xsd:schema>
</types>
<message name="print">
<part name="parameters" element="tns:print"/>
</message>
<message name="printResponse">
<part name="parameters" element="tns:printResponse"/>
</message>
<message name="obtemNumBolas">
<part name="parameters" element="tns:obtemNumBolas"/>
</message>
<message name="obtemNumBolasResponse">
<part name="parameters" element="tns:obtemNumBolasResponse"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="jogaDado">
<part name="parameters" element="tns:jogaDado"/>
</message>
<message name="jogaDadoResponse">
<part name="parameters" element="tns:jogaDadoResponse"/>
</message>
<message name="obtemTabuleiro">
<part name="parameters" element="tns:obtemTabuleiro"/>
</message>
<message name="obtemTabuleiroResponse">
<part name="parameters" element="tns:obtemTabuleiroResponse"/>
</message>
<message name="defineJogadas">
<part name="parameters" element="tns:defineJogadas"/>
</message>
<message name="defineJogadasResponse">
<part name="parameters" element="tns:defineJogadasResponse"/>
</message>
<message name="obtemNumBolasOponente">
<part name="parameters" element="tns:obtemNumBolasOponente"/>
</message>
<message name="obtemNumBolasOponenteResponse">
<part name="parameters" element="tns:obtemNumBolasOponenteResponse"/>
</message>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="printpre">
<part name="parameters" element="tns:printpre"/>
</message>
<message name="printpreResponse">
<part name="parameters" element="tns:printpreResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Speculate">
<operation name="print">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/printRequest" message="tns:print"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/printResponse" message="tns:printResponse"/>
</operation>
<operation name="obtemNumBolas">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemNumBolasRequest" message="tns:obtemNumBolas"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemNumBolasResponse" message="tns:obtemNumBolasResponse"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="jogaDado">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/jogaDadoRequest" message="tns:jogaDado"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/jogaDadoResponse" message="tns:jogaDadoResponse"/>
</operation>
<operation name="obtemTabuleiro">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemTabuleiroRequest" message="tns:obtemTabuleiro"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemTabuleiroResponse" message="tns:obtemTabuleiroResponse"/>
</operation>
<operation name="defineJogadas">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/defineJogadasRequest" message="tns:defineJogadas"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/defineJogadasResponse" message="tns:defineJogadasResponse"/>
</operation>
<operation name="obtemNumBolasOponente">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemNumBolasOponenteRequest" message="tns:obtemNumBolasOponente"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemNumBolasOponenteResponse" message="tns:obtemNumBolasOponenteResponse"/>
</operation>
<operation name="preRegistro">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="printpre">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/printpreRequest" message="tns:printpre"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/printpreResponse" message="tns:printpreResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://speculateWebService.mycompany.com/Speculate/helloRequest" message="tns:hello"/>
<output wsam:Action="http://speculateWebService.mycompany.com/Speculate/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SpeculatePortBinding" type="tns:Speculate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="print">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumBolas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jogaDado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemTabuleiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="defineJogadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumBolasOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printpre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SpeculateWS_Service">
<port name="SpeculatePort" binding="tns:SpeculatePortBinding">
<soap:address location="http://localhost:8080/SpeculateWS_Service/SpeculateWS_Service"/>
</port>
</service>
</definitions>